body {
  font-family: 'Roboto', sans-serif;
  padding: 50px 0px 75px;
  color: #333;
}

.page-title {
  text-align: center;
}

.fantasmator {
  margin: 50px auto 75px;
  width: 750px;
  box-shadow: 0px 5px 8px #e2e2e2;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 50px 35px;
}

.fantasmator__current {
  flex: 1.5;
}

.fantasmator__current-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.fantasmator__current-image {
  display: block;
  width: 100%;
}

.fantasmator__current-date {
  display: block;
  text-align: center;
  color: #666;
}

.fantasmator__next {
  flex: 2;
  padding-left: 75px;
  box-sizing: border-box;
}

.fantasmator__next-title {
  text-align: center;
  text-transform: uppercase;
}

.fantasmator__list {
  padding: 0;
  margin: 0;
}

.fantasmator__item {
  list-style: none;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.fantasmator__item:last-of-type {
  border-bottom: none;
}

.fantasmator__avatar-wrapper {
  width: 95px;
  text-align: center;
}

.fantasmator__avatar {
  height: 60px;
}

.fantasmator__name {
  font-size: 20px;
  margin: 0;
}

.fantasmator__date {
  color: #666;
}